{{>head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Jhonatan Marte paginas renderisadas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto mollitia maiores possimus. Culpa tempore, reprehenderit voluptatibus, repellat saepe quo officia deleniti asperiores sit obcaecati, magnam voluptas assumenda magni? A, voluptatum?</p>
    </div>
    

<div class="col-4">
        <img src="assets/img/jmr.jpg" class="img-thumbnail">
    </div>
</div>
   

{{> footer }}